PORT=""

MONGODB_LOCAL=""
MONGODB=""
MONGO_INITDB_ROOT_USERNAME=""
MONGO_INITDB_ROOT_PASSWORD=""

JWT_SECRET=""
JWT_EXPIRE=""

REDIS_URL=""
REDIS_URL_CLOUD=""

RESET_PASSWORD_TOKEN_EXPIRY_MINS=""

APP_URL=""
FRONTEND_APP_URL=""

EMAIL_SERVICE=""
EMAIL_PASSWORD=""
EMAIL_USERNAME=""
EMAIL_FROM=""

IMGHOST_CLOUD_NAME=""
IMGHOST_API_KEY=""
IMGHOST_API_SECRET=""

TYPESENSE_API_KEY=""

CHOKIDAR_USEPOLLING=""